{% extends "bunko/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-4 offset-md-2" id="register">
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb4">Inscription</legend>
				{{ formulaire|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Confirmer l'inscription</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Déjà inscrit ? <a class="ml-2" href="{% url 'connexion' %}">Se connecter</a>
			</small>
		</div>
	</div>
</div>
{% endblock content %}