#root {
  margin: 0 auto;
  width: 100%;
}

#main-container {
  display: flex;
  flex-wrap: nowrap;
  min-height: calc(100% - var(--menu-bar-height));

  footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 12px;
    border-top: 1px solid var(--golden-accent-color);
    font-size: 10px;
    height: var(--footer-height);
    color: var(--menu-link-color);
  }
}

.menu-bar {
  display: flex;
  border-bottom: 1px solid var(--golden-accent-color);
  background-color: #242424;
  width: 100%;
  position: fixed;
  z-index: 1;
}

input[type=text], textarea {
  color: var(--input-text-color);
  background-color: var(--input-background-color);
}

.menu-bar a#profile-pic {
  width: 48px;
  display: flex;
  justify-content: center;
  padding: 0 16px;

  .mini-profile-pic {
    display: block;
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
    margin: auto;
  }
}

.search-bar-container {
  margin: auto 32px auto auto;
  padding: 3px !important;
  width: 50%;
}

#search-bar {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  border: 0;
}

#clear-input {
  position: relative;
  width: 22px;
  padding: 0;
  float: right;
  top: -30px;
  height: 0;
  box-sizing: border-box;
  left: 14px;
  cursor: pointer;
}

#clear-input:hover {
  color: #c29b00;
}

#clear-input svg {
  width: 80%;
}

.search-results {
  width: 100%;
  background-color: #242424;
  padding: 0 2px !important;
  position: relative;
}

.list-results {
  position:absolute;
  width: calc(100% + 16px);
  padding: 8px 0 !important;
  margin: 0 auto;
  border-radius: 12px;
  box-sizing: content-box;
  top: 3px;
  background-color: var(--dark-background-color);
  z-index: 10000;
  max-height: 300px;
  box-shadow: var(--box-shadow);
}

.list-results ul {
  list-style: none;
  padding: 0;
}

.result {
  padding: 8px 8px 8px 16px;
  cursor: pointer;
}

.result:hover {
  background-color: var(--sidebar-background);
}

#search-bar:focus {
  outline: none;
  border: 1px solid #c29b00;
  /*position: fixed;*/
  /*width: inherit;*/
  /*top: 12px;*/
  /*height: 100px;*/
  /*box-shadow: var(--box-shadow);*/
}

#vertical-bar-toggle {
  font-weight: 800;
  cursor: pointer;
  width: 24px;
  text-align: center;
}

#vertical-bar-toggle:hover {
  background-color: #474747;
  color: #c29b00;
}

.menu-bar-btn {
  font-weight: 600;
  margin-left: auto;
  cursor: pointer;
  min-width: 24px;
  text-align: center;
}

.menu-bar-btn:hover {
  background-color: #474747;
  color: #c29b00;
}

.close-bar-veil {
  width: 0;
  height: 0;
}

#vertical-options-bar {
  width: 250px;
  flex: 0 0 auto;
  background-color: var(--sidebar-background);
  transition: 0.2s;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: space-between;
  position: fixed;
  top: var(--menu-bar-height);
  height: calc(100vh - var(--menu-bar-height));
  left: 0;
}

#vertical-bar-content {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: calc(100% - var(--footer-height));
  width: 100%;
}

#vertical-options-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  width: 100%;
}

#vertical-options-bar ul li {
  padding: 24px;
  display: flex;
}

#vertical-options-bar ul li img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

#vertical-options-bar ul li a {
  align-self: center;
}

#vertical-options-bar ul li:hover {
  background-color: var(--button-hover-background);
}

.more-options {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin: 6px;

  button {
    padding: 12px;
    position: sticky;
    bottom: 0;
    background-color: var(--sidebar-background);
  }

  button:hover {
    background-color: var(--button-hover-background);
    border-radius: 8px;
  }

  .dropdown-menu {
    .item {
      padding: 16px;
    }

  }
}

.yellow {
  color: #c29b00;
}

.menu-bar div {
  padding: 16px;
}

h2 {
  text-align: center;
}

#main-content {
  margin: var(--menu-bar-height) 0 0;
  transition: 0.2s;
  width: 100%;
  flex: 1 1 auto;
  margin-left: 250px;

  & > div {
    width: 90%;
    margin: 32px auto;
  }

  #user-profile {
    max-width: 1079px;
  }

  footer {
     width: 100%;
     margin: 0 auto;
     text-align: center;
     padding: 12px;
     border-top: 1px solid var(--golden-accent-color);
     font-size: 10px;
     height: var(--footer-height);
   }
}

#text-container {
  max-width: 800px;
}

.text-list {
  margin: 0 auto;
  width: 100%;
}

.text-list-cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.tag-name {
  font-family: monospace;
  font-size: 40px;
  text-align: center;
  margin: 32px auto;
}

#text-editor-container {
  height: calc(100vh - 75px);
}

#loading-container, #empty-list-container, #error-page, #not-found-page, .container {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  justify-content: center;
  flex: 1 1 auto;
  padding: 16px;
  width: 80%;
}

.loading, .no-result {
  text-align: center;
}

.text-count {
  padding: 0 24px;
  position: relative;
  top: 24px;
  background-color: var(--background-color);
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  display: block;
  font-weight: 800;
  color: var(--golden-accent-color);
  font-family: Young Serif;
}

.login-form, .signup-form {
  margin: 0 auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  flex-wrap: wrap;
  width: 90%;
  max-width: 300px;
  padding: 16px;
  justify-content: center;
  align-content: center;
}

.signup-container, .login-container {
  display: flex;
  flex-wrap: nowrap;
  height: 50vh;
  margin-top: 180px;
}

.about-us {
  max-width: 400px;
  flex: 1 1 auto;
  margin: 48px 32px auto auto;
  height: 350px;
  font-family: "Times New Roman", Times, serif;
}

.signup-form {
  flex: 1 1 auto;
  min-width: 400px;
  margin: auto;
  margin-left: 32px;
}

.register-link, .login-link {
  text-align: left;
  margin-top: 12px;
}

.login-title, .signup-title {
  margin: 32px auto;
  width: 90%;
}

form {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 400px;
}

form div {
  display: flex;
  margin: 16px 0;
}

#name div {
  flex: 1 1 auto;
  margin-bottom: 0;
}

#name div:not(:first-child) {
  margin-left: 10px;
}

form div input {
  width: 100%;
  height: 20px;
  padding: 4px;
  border: 1px solid #888;
}

input:not(.seamless-input):focus {
  box-sizing: content-box;
  outline: 1px solid #c29b00;
  border: 1px solid #c29b00;
}

.terms-conditions {
  display: inline;
}

.terms-conditions input {
  width: fit-content;
  height: auto;
  accent-color: #c29b00;
}

.terms-conditions input:focus {
  outline: none;
}

.submit-btn {
  display: block;
  margin: 32px auto 0;
}

#suggested-users {
  height: fit-content;
  background-color: var(--dark-background-color);
  border-radius: 8px;
  max-width: 600px;
  padding: 0 24px;

  .label {
    font-weight: 600;
    padding: 16px;
  }

  .user-list {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 32px;
    padding: 16px;
  }

  .user-card {
    max-width: 140px;
  }

  .name-pic {
    display: block;

    img {
      display: block;
      margin: 0 auto 8px;
    }

    .name {
      padding: 0;
      .username, .fullname {
        text-align: center;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.2;
      }
    }
  }
  .view-more-label {
    padding: 0 24px 24px;
    text-align: right;
    font-weight: 600;
  }
}

#dashboard .dashboard-item {
  display: flex;
  background-color: var(--dark-background-color);
  border-radius: 8px;
  padding: 24px;
  margin-top: 32px;
  max-width: 600px;
  box-shadow: var(--box-shadow);
}

.text-info {
  display: block;
  margin-left: 16px;
  width: 100%;
}

.mini-profile-pic {
  object-fit: cover;
  border-radius: 50%;
  display: block;
  width: 48px;
  height: 48px;
  min-height: 48px;
  min-width: 48px;
}

#dashboard .text-preview {
  padding-bottom: 12px;
}

#dashboard p {
  margin: 0;
}

.read-by {
  flex: 1 1 auto;
  align-self: center;
  font-size: 14px;
  color: var(--tag-color);
}

.likes-comments-saves {
  border-top: 1px solid var(--golden-accent-color);
  padding-top: 6px;
  display: flex;
  justify-content: right;
  gap: 16px;

  span {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2px;
  }
}

.btn {
  cursor: pointer;
  max-height: 24px;
  padding-right: 4px;
}

.replies {
  padding-left: 32px;
}

#new-comment {
  max-width: 100%;
}

textarea {
  resize: none;
  width: calc(100%);
  margin: 8px auto;
  padding: 8px;
  outline: 2px solid #c29b00;
  border: none;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 36px;
  border-radius: 18px;
}

textarea:focus {
  border: 1px solid #c29b00;
  outline: 2px solid #c29b00;
  height: 60px;
  border-radius: 8px;
}

.dropdown-btn {
  border: none;
}

.destructive-action {
  color: #fa4b4b;
}

.text-title {
  font-size: 48px;
  margin-top: 80px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.text-series-info {
  text-align: center;
  font-variant: small-caps;
  color: #888;
}

#series-info-container {

  max-width: 600px;
  padding: 0 24px;

  .series-title {
    font-size: 48px;
    text-align: center;
    font-family: "Young Serif", Times, serif;
  }

  .author {
    font-weight: 600;
    text-align: center;
  }

  .synopsis {
    margin-left: 60px;
  }

  .text-item {
    margin-left: unset;
  }
}

.text-author {
  text-align: center;
  font-weight: 500;
}

.reader-genres {
  text-align: center;
}

.reactions {
  font-size: 20px;
  flex-wrap: nowrap !important;
  display: flex;
  align-items: center;
}

.like, .bookmark, .comment {
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  width: min-content;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
}

.comment-item {
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 16px;
}

.comment-thumbnail {
  width: 48px;
}

.comment-wrapper {
  width: 100%;
}

.comment-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  .dropdown-btn {
    width: 32px;
    height: 32px;
    padding: 0.3em;
    background-color: unset;
  }
}

.comment-meta {
  display: flex;
  flex-wrap: nowrap;
}

.comment-timestamp {
  font-size: 12px;
  margin-left: 8px;
}

.like:hover, .bookmark:hover, .comment:hover {
  background-color: var(--button-hover-background);
  color: #c29b00;
}

.read-only-banner {
  text-align: center;
  background-color: #fafade;
  color: #000;
  padding: 30px;
}

.actions {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
}

.options {
  text-align: center;
  margin-left: auto;
  cursor: pointer;
  border-radius: 8px;
  width: 40px;
}

.text-content {
  user-select: none;
  max-width: 800px;
  margin: 96px auto;
  text-align: justify;
  line-height: 1.6;
  font-family: "Times New Roman", Times, serif;
}

.synopsis {
  font-weight: 500;
  max-width: 600px;
  color: var(--font-color);
}

.text-description {
  font-weight: 500;
  margin-left: 32px;
  width: 100%;

  .title {
    font-weight: 600;
  }
}

.title-overlap {
  position: relative;
  top: -112px;
  text-align: center;
  margin-bottom: -12px;
}

.item-header {
  display: flex;
  column-gap: 16px;
  padding-bottom: 16px;

  .more {
    display: flex;
    align-content: center;
    margin-left: auto;

    button {
      border: none;
      border-radius: 8px;
      height: 43px;
    }

    button:hover {
      background-color: var(--button-hover-background);
      outline: none;
      border: none;
    }
  }
}

.publish-date {
  font-size: 12px;
  margin-left: 16px;
}

.genres {
  line-height: 32px;
  margin-top: 10px;
}

.genre-tag {
  color: #888888 !important;
  font-size: 13px;
  padding-right: 12px;
  font-weight: 400;
}

.genre-tag:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #b4b4b4 !important;
}

.seamless-input {
  border: 0;
  background-color: transparent !important;
  width: 90%;
  margin: 0 auto;
  display: flex;
  font-family: monospace;
  outline: none;
  box-sizing: content-box;
}

#new-series-input {
  width: fit-content;
  margin: 0 auto 0 16px;
}

.text-title-editor {
  font-family: monospace;
  font-size: 36px;
  margin: 16px auto;
}

#genre-tags {
  margin: 8px auto;
  font-family: monospace;
}

.modal-buttons {
  display: flex;
  justify-content: end;
  margin-top: 50px;
}

.modal-buttons button:not(:last-child) {
  margin-right: 16px;
}

.seamless-input:focus-visible {
  outline: none;
  border: none;
}

.text-title-editor:focus-visible {
  outline: none;
}

.text-editor {
  margin: 0 0 0 auto;
  padding-right: 5%;
  min-height: 73vh;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

.text-editor:focus-visible {
  outline: none;
}

.button-wrapper {
  display: flex;
  width: 100%;
  margin: 10px auto 5px;
}

.dropdown-btn:focus-visible {
  outline: none;
}

.nav-btn {
  padding: 8px;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
}

.dropdown-menu {
  background-color: var(--background-color);
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--dropdown-border-color);

  .item:hover {
    background-color: var(--button-hover-background);
    border: none;
    outline: none;
  }
}

.nav-btn:hover {
  cursor: pointer;
}

.text-editor-buttons {
  display: flex;
  width: 90%;
  margin: 8px auto 5px;
  position: absolute;
  bottom: 5px;
  padding: 0 5%;
}

.button-wrapper button:not(:first-child) {
  margin-left:8px;
}

#cancel-changes {
  border: 1px solid #fa4b4b;
  color: #fa4b4b;
  flex: 1 1 auto;
  max-width: max-content;
  margin-right: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}