@import url('variables.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 600;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid #c0c2c6;
  border-radius: 8px;
  padding: 0.3em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
}
button:hover {
  border-color: var(--golden-accent-color);
  color: var(--button-hover-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.invisible-button {
  border: 0;
  background-color: var(--background-color);
}


  svg {
    color: var(--golden-accent-color);
  }

  .menu-bar {
    a {
      color: var(--menu-link-color);
    }
  }

  #vertical-options-bar {

    button {
      border: none;
    }

    a {
      color: var(--menu-link-color);
    }
  }
