.user-info {
    margin: 30px auto 50px;
    text-align: center;
}

.user-info .profile-pic {
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.name-edit {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
}

#profile-edit {
    position: relative;
    width: 0;
    left: 20px;
}

#profile-edit-form {
    display: flex;
    flex-wrap:wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
}

#profile-edit-form > * {
    width: 100%;
    margin: 16px;
}

#profile-edit-form input[type="text"] {
    border: 1px solid #888;
    padding: 4px;
}

#profile-edit-form .invalid-input[type="text"] {
    border: 1px solid #a00000;
    background-color: #3d2929;
}

#username {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

#at-symbol {

}

#username input {
    margin-left: 12px;
    flex: 1 1 auto;
}

#profile-edit-form input[type="text"]:focus {
    border: 1px solid #c29b00;
}

#profile-edit-container #full-name {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    justify-content: center;
}

.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 1px solid #c29b00;
    box-sizing: border-box;
}

.profile-pic-edit {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 1px solid #c29b00;
    box-sizing: border-box;
}

#profile-pic-upload {
    margin: 40px 0 0;
}

#profile-pic-upload:focus {
    outline: none;
    border: none;
}

#full-name > * {
    flex: 1 1 auto;
}

#profile-edit-buttons {
    justify-content: flex-end;
}

.alert-banner {
    background-color: #3d2929;
    padding: 16px;
    font-size: 14px;
}

.full-name {
    font-weight: 700;
    color: #c29b00;
}

.follows {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
    justify-content: center;
}

.follows a {
    margin: 0 10px;
}

.preview-container {
    height: 200px;
    width: 150px;
    border: 1px solid #888888;
    overflow: hidden;
    background-color: #fff;
}

.content-preview {
    font-size: 4px;
    filter: blur(0.8px);
    color: #111;
    background-color: #fff;
    line-height: 3;
    display: block;
    padding: 8px;
}

#drafts {
    margin-top: 20px;
}

.text-list-container {
    display: flex;
    margin-top: 12px;
}

.text-list-container > a {
    margin: 0 auto;
}

.text-item {
    margin: 16px auto 16px 16px;
    display: flex;
    min-width: 200px;
    max-width: 600px;
}

.text-item .synopsis {
    margin-left: 32px;
}

.publ-date {
    font-size: 12px;
    color: #888;
}

.series a {
    color: #888;
    font-size: 12px;
    font-variant: small-caps;
    margin-bottom: 12px;
}

.series a:hover {
    text-decoration: underline;
    font-size: 12px;
    font-variant: small-caps;
}

#extra-fields-popup {
    background-color: var(--extra-fields-popup-background-color);
    position: fixed;
    width: calc(100% - 40px);
    height: 300px;
    bottom: -40px;
    transition: all 0.4s;
    padding: 20px;
}

#synopsis-input {
    height: 20px;
    padding-bottom: 32px;
    font-weight: 800;
    line-height: 1.5;
}

#series-synopsis-input {
    height: 20px;
    padding-top: 16px;
    font-weight: 800;
    line-height: 1.5;
}

.series-select-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid #888;
    padding-top: 8px;
}

.series-select-container select {
    margin-left: 16px;
    padding: 0 16px;
    font-variant: small-caps;
    position: relative;
}

.series-select-container option:hover {
    background-color: #c29b00;
}

.extra-fields-checkbox {
    font-weight: 500;
    font-size: 14px;
    accent-color: #c29b00;
}

#series-checkbox {
    margin-right: 8px;
}

.follower-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.name-pic {
    display: flex;
    align-items: center;
}

.badge-picture {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    padding-left: 16px;
}

.fullname {
    font-weight: 500;
    color: #888;
}

